<%= form_with(model: user, local: true) do |form| %>
  <fieldset class="form-group">
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> Lỗi không lưu được do:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="offset-2 col-3">
        <label for="email">Email</label>
      </div>
      <div class="col-5">
        <%= form.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-2 col-3">
        <label for="name">Họ tên</label>
      </div>
      <div class="col-5">
        <%= form.text_field :name, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group row">
        <div class="offset-2 col-3">
        <label for="email">Mật khẩu</label>
      </div>
      <div class="col-5">
        <%= form.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
        <div class="offset-2 col-3">
        <label for="email">Xác nhận mật khẩu</label>
      </div>
      <div class="col-5">
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
        <div class="offset-2 col-3">
        <label for="phone">Điện thoại</label>
      </div>
      <div class="col-5">
        <%= form.text_field :phone, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group row">
        <div class="offset-2 col-3">
        <label for="address">Địa chỉ</label>
      </div>
      <div class="col-5">
        <%= form.text_area :address, class: "form-control"  %>
      </div>
    </div>

    <% if admin_user? %>
      <div class="form-group row">
        <div class="offset-2 col-3">
          <label for="role">Vai Trò</label>
        </div>
        <div class="col-5">
          <%= form.select(:role, role_options, {}, { :class => "custom-select" }) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-2 col-3">
          <label for="school">Điểm trường</label>
        </div>
        <div class="col-5">
          <%= form.collection_select(:school_id, School.all, :id, :name, { :prompt => 'Điểm Trường', allow_blank: true, include_blank: true }, { class: 'custom-select'}) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-2 col-3">
          <label for="admin_note">Ghi chú</label>
        </div>
        <div class="col-5">
          <%= form.text_area :admin_note, class: "form-control"  %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="actions form-group-btns row">
    <div class="offset-2 col-4">
      <%= form.submit 'Lưu', class: 'btn-primary btn-block p-2 rounded-sm' %>
    </div>
  </div>
<% end %>
