<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Tất Cả Thành Viên</h1>

  <hr class="spacer">
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Điện Thoại</th>
        <th scope="col">Địa Chỉ</th>
        <th scope="col">Vai Trò</th>
        <th scope="col">Ghi Chú</th>
        <th scope="col">---</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr scope="row">
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td><%= user.role %></td>
          <td><%= user.admin_note %></td>
          <td><%= link_to 'Xem', user %> | <%= link_to 'Sửa', edit_user_path(user) %> | <%= link_to 'Xoá', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Tạo Thành Viên Mới', new_user_path, class: 'btn btn-primary py-2 px-3' %>
</div>