<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1>Thành Viên</h1>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Tên Họ</th>
        <th>Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Vai Trò</th>
        <th>Ghi Chú</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td><%= user.phone %></td>
          <td><%= user.address %></td>
          <td><%= user.type %></td>
          <td><%= user.admin_note %></td>
          <td><%= link_to 'Xem', user %></td>
          <td><%= link_to 'Sửa', edit_user_path(user) %></td>
          <td><%= link_to 'Xoá', user, method: :delete, data: { confirm: 'Bạn chắc không?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Tạo Thành Viên', new_user_path %>

</div>