<p id="notice"><%= notice %></p>

<p>
  <strong>Tên:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Điện Thoại:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Địa Chỉ:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Điểm Trường:</strong>
  <%= @user&.school&.name %>
</p>

<p>
  <strong>Vai Trò:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Ghi Chú:</strong>
  <%= @user.admin_note %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
