<!DOCTYPE html>
<html>
  <head>
    <title>Hoa Phuong</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-expand-lg scrolling-navbar p-3'>
      <a href="/"  class='navbar-brand navbar-adjust mt-0 brand'>
        <img src="<%= asset_path('hoa_phuong_logo.jpg') %>" width='80' height='auto' class='d-inline-block img-fluid top-logo'>
      </a>
      <div class='collapse topnav navbar-collapse cl-effect-14 c'>
        <ul class='navbar-nav ml-auto'>
          <li class="nav-item dropdown pr-3">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="<%= schools_path %>" role="button" aria-haspopup="true" aria-expanded="false">XÂY TRƯỜNG</a>
            <div class="dropdown-menu">
              <%= link_to 'Điểm Trường Đang Gây Quỹ', schools_path(status: :fund_raising), class: "dropdown-item" %>
              <%= link_to 'Điểm Trường Đã Xây', schools_path(status: :built), class: "dropdown-item" %>
              <% if admin_user? %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Tất cả Điểm Trường', schools_path, class: "dropdown-item" %>
                <%= link_to 'Tạo Trường Mới', new_school_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown pr-3">
            <a class="nav-link dropdown-toggle" id="nav-lunch-projects" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">NUÔI EM</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Điểm Trường Đã Nhận</a>
              <a class="dropdown-item" href="#">Điểm Trường Cần Trợ Giúp</a>
              <a class="dropdown-item" href="#">Cập Nhật Hàng Quý</a>
            </div>
          </li>
          <li class="nav-item pr-3">
            <a class="nav-link" href="#">HOẠT ĐỘNG KHÁC</a>
          </li>
          <li class="nav-item dropdown pr-3">
            <a class="nav-link dropdown-toggle" id='nav-users' data-toggle="dropdown" href="<%= users_path %>" role="button" aria-haspopup="true" aria-expanded="false">THÀNH VIÊN</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= users_path %>">TẤT CẢ</a>
              <% if current_user.present? %>
                <%= link_to 'ĐĂNG XUẤT', logout_path, method: :delete, class: 'dropdown-item' %>
              <% else %>
                <%= link_to 'ĐĂNG NHẬP', login_path, class: 'dropdown-item' %>
                <%= link_to 'ĐĂNG KÍ THÀNH VIÊN', new_user_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <a class="btn btn-warning px-4" href="#">ỦNG HỘ</a>
          </li>
        </ul>
      </div>
    </nav>
    <% if notice %>
      <p class="alert-success"><%= notice %></p>
    <% elsif alert || flash[:error] %>
      <p class="alert-danger"><%= alert %> <%= flash[:error] %></p>
    <% end %>

    <%= yield %>
  </body>

  <footer class="clearfix bg-white py-3 py-xl-5 mt-3 mt-xl-5 border-top site-footer ">

  <div class="container mb-5">
    <div class="row">
      <nav class="nav nav-social justify-content-center mx-auto align-items-center align-self-lg-start justify-content-lg-start ml-lg-0">
        <span class="small nav-link">Follow Us</span>
        <a href="https://www.facebook.com/hoa.blue.3" target="_blank" class="nav-link" rel="noopener">
          sometext
          <i class="icon-facebook"></i><span class="sr-only">Thiện Nguyện Hoa Phượng Facebook</span>
        </a>
        <a href="https://twitter.com/" target="_blank" class="nav-link" rel="noopener">
          twitter
          <i class="icon-twitter"></i><span class="sr-only">@TNHoaPhuong on Twitter</span>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="nav-link" rel="noopener">
          instagram
          <i class="icon-instagram"></i><span class="sr-only">@tnhoaphuong on Instagram</span>
        </a>
      </nav>

      <div class="align-self-center mx-auto align-self-lg-end mr-lg-0">
        <p class="small text-center text-lg-right">
          Copyright &#169; 2019 Thiện Nguyện Hoa Phượng.
          <img src="<%= asset_path('hoa_phuong_logo.jpg') %>" width='80' height='auto' class='d-inline-block img-fluid top-logo'>
        </p>
      </div>
    </div>
  </div>

</footer>
</html>
